body {
    font-family: 'Dosis', sans-serif;
    background-color: rgb(199, 36, 104);
}

h3 {
    text-align: center;
    position: fixed;
    top: 30%;
    left: 25%;
    font-weight: bolder;
    font-size: 45px;
}

#main-link {
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    bottom: 12px;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-size: 30px;
}

#main-link:hover, #main-link:active {
    color: maroon;
    text-decoration: none;
}

@media (max-width: 500px){
    h3 {
        top: 40%;
        font-size: 20px;
        left: 8%;
        color: black;
    }
}