body {
    font-family: 'Dosis', sans-serif;
    background-color: rgb(199, 36, 104);
}


h3 {
    width: 100%;
    height: 100%;
    text-align: center;
    position: fixed;
    top: 22%;
    font-weight: bolder;
    font-size: 45px;
    text-shadow: 1px 1px 2px black; 
    color: white;

}

#main-link {
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    bottom: 12px;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-size: 30px;
    text-shadow: 1px 1px 1px black; 

}

#main-link:hover, #main-link:active {
    color: maroon;
    text-decoration: none;
}

@media (max-width: 500px){
   
    h3 {
        top: 30%;
        font-size: 28px;
        color: white;
        text-shadow: 1px 1px 1px black; 

    }
    
}