p {
    position: fixed;
    top: 15%;
    left: 12%;
    font-size: 28px;
    font-weight: bolder;
    color: white;
    text-shadow: 1px 1px 1px black; 

}

@media (max-width: 500px){
    p {
        left: 5%;
        top: 12%;
        font-size: 16px;
    }
}