h1{
    font-family: 'Dosis', sans-serif;
    color: rgb(199, 36, 104);
    font-weight: 800;    
    font-size: 34px;
    margin: 5px 0 0 20px;
    text-shadow: 1px 1px 1px black; 

}

@media(min-width: 769px){
    h1{
        margin-left: 0px;
    }
}