form {
    position: absolute;
    left: 20%;
    width: 50%;
    margin: 30px;
    position: absolute;
    color: white;
    font-weight: 600;
}
header {
    margin: 30px;
}

h1 {
    color:white;
    text-align: center;
}

@media (max-width:500px){
    form{
        width:80%;
        position: absolute;
        left:0;
        right:0;
    }
}